@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

.container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px
}

.form {
    text-align: center;
    
}

.ext {
    color: red;
    font-weight: bold;
}

.usersContainer {
    background-color: #c0cccb;
}

.profile {
    position: absolute;
    right: 3px;
}

.centerContainer {
    margin-left: 30px;
}

.inLineContainer {
    display: inline-block;
}

.inLineContainer1 {
    margin: 1rem;
}

.LogOutButton {
    position: absolute;
    right: 3%;
    top: 15%;
}

.Question {
    background-color:#e0e2e2;
    padding: 10px;
    margin-bottom:15px;
    border-radius: 15px
}

.Question a {
    font-weight: bold;
}

.QuestionContainer {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 40px;
    border-radius: 15px
}

.Author {
    text-align: right;
}

.textareaA {
    width: 500px;
    height: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.AnswerContainer {
    margin-left: 3%;
}

.Comment {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 30%;
}

.QuestionSearch {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 15px;
    margin-right: 30%;
    margin-top: 1%;
    border-radius: 15px;
}

.QuestionSearch a {
    font-weight: bold;
}